*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(4bg.jpg);
}

.container{
    display: flex;
    column-gap: 40px;
    row-gap: 50px;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    padding-top: 120px;
    margin-bottom: 50px;
}

.container h1{
    color: black;
}

.container .div1{
    width: 33%;
    padding: 0px 10px 10px;
    border: 1px solid crimson;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0,0,0,0.2);
}

.container .div1:hover{
    box-shadow: 20px 20px 30px rgba(0,0,0,0.6);
}

.container .div1 img{
    width: 100%;
    border-radius: 20px;
}















/*
body{
    background:black
}

.div1{
    box-shadow: 15px 15px 15px 0 grey;
}

.div1{
    width: 1000px;
    margin: 150px auto;
    background:rgba(0,0,0,0.5);
    border-radius: 20px;
}
h1{
    color: #fff;
    font-size: 2em;
}
.container{
    text-align: center;
    margin: 120px auto 50px;
    line-height: 5rem;
}
img{
    margin-top: 30px;
    width: 90%;
}
.div1{
    margin-top: 150px;
}
*/
